* {
  margin: 0;
  padding: 0; }

.line {
  width: 30px;
  height: 4px;
  border-radius: 5px;
  margin: 10px 10px;
  background: #8893A0; }

#l3 {
  width: 15px; }

/*# sourceMappingURL=burger.css.map */
