@import '../node_modules/susy/sass/susy';

$susy:(
  columns:12,
);

@font-face {
  font-family: "Open Sans Bold";
  src: url("../font/opensans/OpenSans-Bold.ttf");
}

@font-face {
  font-family: "Open Sans SBold";
  src: url("../font/opensans/OpenSans-SemiBold.ttf");
}

*{
  margin: 0;
  padding: 0;
}

body{
  background-color: #F6F6FF;
}

#back{
  height: 100vh;
  float: right;
}
#content{

  height: 100vh;
  width: 100vw;
  position: absolute;

  #side{

    @include span(3 of 16);
    height: 100vh;
    position: absolute;

    .network{

      position: absolute;
      bottom: 50px;
      left: 60px;

      .socials{

        img{
          height: 20px;
        }
        margin-right: 40px;
        height: 20px;
        display: inline-block;
      }
    }
  }
  .container{

    @include span(11 of 16);
    height: 50px;

    #front{

      margin-top: 32vh;
      @include span(5 of 8 last);

      .text{

        float: right;
        margin-top: 20px;
      }

      #logo{

        height:150px;
        float: right;
        display: block;
      }

      p{

        text-align: center;
        font-family: "Open Sans SBold";
        font-size: 16px;
        background: -webkit-linear-gradient(0deg, #905EF1, #32B0E5);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

      }

      #buttons{

        text-align: center;
        margin-top: 35px;
        .button{
          display: inline-block;

      }
    }
  }
}


/*
#logo{
  position: absolute;
  height: 150px;
  top:40%;
  left:51%;
  -webkit-transform: translate(-49%,-60%);
  -moz-transform: translate(-49%,-60%);
  -ms-transform: translate(-49%,-60%);
  -o-transform: translate(-49%,-60%);
  transform: translate(-49%,-60%);
}
*/


/*
.button{
  position: absolute;
  height: 150px;
  top:40%;
  left:51%;
  -webkit-transform: translate(-49%,-60%);
  -moz-transform: translate(-49%,-60%);
  -ms-transform: translate(-49%,-60%);
  -o-transform: translate(-49%,-60%);
  transform: translate(-49%,-60%);
}
 */

.button{
  font-family: "Open Sans Bold";
  font-size: 13px;
  color: white;
  height: 40px;
  width: 160px;
  border:none;
  border-radius: 50px;
  box-shadow: 0px 15px 19px 0px rgba(112, 112, 112, 0.36);
  letter-spacing: 1px;
}

#b1{
  background: linear-gradient(90deg, #32B0E5, #905EF1);
  color: white;
  margin-right: 45px;

}
}

#b2{
  background: white;
  a{
    background: -webkit-linear-gradient(0deg, #32B0E5, #905EF1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

}

