@font-face {
  font-family: "Open Sans Bold";
  src: url("../font/opensans/OpenSans-Bold.ttf"); }
@font-face {
  font-family: "Open Sans SBold";
  src: url("../font/opensans/OpenSans-SemiBold.ttf"); }
* {
  margin: 0;
  padding: 0; }

body {
  background-color: #F6F6FF; }

#back {
  height: 100vh;
  float: right; }

#content {
  height: 100vh;
  width: 100vw;
  position: absolute;
  /*
  #logo{
    position: absolute;
    height: 150px;
    top:40%;
    left:51%;
    -webkit-transform: translate(-49%,-60%);
    -moz-transform: translate(-49%,-60%);
    -ms-transform: translate(-49%,-60%);
    -o-transform: translate(-49%,-60%);
    transform: translate(-49%,-60%);
  }
  */
  /*
  .button{
    position: absolute;
    height: 150px;
    top:40%;
    left:51%;
    -webkit-transform: translate(-49%,-60%);
    -moz-transform: translate(-49%,-60%);
    -ms-transform: translate(-49%,-60%);
    -o-transform: translate(-49%,-60%);
    transform: translate(-49%,-60%);
  }
   */ }
  #content #side {
    width: 17.7215189873%;
    float: left;
    margin-right: 1.2658227848%;
    height: 100vh;
    position: absolute; }
    #content #side .network {
      position: absolute;
      bottom: 50px;
      left: 60px; }
      #content #side .network .socials {
        margin-right: 40px;
        height: 20px;
        display: inline-block; }
        #content #side .network .socials img {
          height: 20px; }
  #content .container {
    width: 68.3544303797%;
    float: left;
    margin-right: 1.2658227848%;
    height: 50px; }
    #content .container #front {
      margin-top: 32vh;
      width: 61.5384615385%;
      float: right;
      margin-right: 0; }
      #content .container #front .text {
        float: right;
        margin-top: 20px; }
      #content .container #front #logo {
        height: 150px;
        float: right;
        display: block; }
      #content .container #front p {
        text-align: center;
        font-family: "Open Sans SBold";
        font-size: 16px;
        background: -webkit-linear-gradient(0deg, #905EF1, #32B0E5);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent; }
      #content .container #front #buttons {
        text-align: center;
        margin-top: 35px; }
        #content .container #front #buttons .button {
          display: inline-block; }
  #content .button {
    font-family: "Open Sans Bold";
    font-size: 13px;
    color: white;
    height: 40px;
    width: 160px;
    border: none;
    border-radius: 50px;
    box-shadow: 0px 15px 19px 0px rgba(112, 112, 112, 0.36);
    letter-spacing: 1px; }
  #content #b1 {
    background: linear-gradient(90deg, #32B0E5, #905EF1);
    color: white;
    margin-right: 45px; }

#b2 {
  background: white; }
  #b2 a {
    background: -webkit-linear-gradient(0deg, #32B0E5, #905EF1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }

/*# sourceMappingURL=index.css.map */
